<br />
<div class="jumbotron">

<h1>Welcome to Blocitoff</h1>
<p>Time to get organized with lists!</p>

<p>
  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
</p>

<div class="row">
  <div class = "col-md-4">
    <h2>For Efficiency! </h2>
    <p>Blocitoff will increase your efficiency. Solve all the world's most pressing issues...or at least you won't forget to pick up your dry cleaning.</p>
  </div>

<div class="col-md-4">
    <h2>End procrastination</h2>
    <p>The world might end tomorrow...so DO today.</p>
  </div>

  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>The Type A list types are better looking indeed</p>
  </div>
</div>